body{
    background-color: #222659;
    color: #d7dada;
}

/* [ON BIG SCREENS] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    /* Optional */
    position: sticky;
    top: 0;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2em;
    display:inline-flex;
}
nav>ul li {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #D7DADA;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    background-color:#4e6d29;
    padding: 15px 15px 15px 15px;
    width: 200px; 
    margin: 2px;
}

nav ul>li ul{
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

#hamitems ul li:hover>ul{
    display: block;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
    color: #D7DADA;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
  
  /* [ON SMALL SCREENS] */
  @media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 15px;
    }

    nav ul {
        display: block;
    }

    /* (B) SHOW HAMBURGER ICON */
    #hamnav label {
      display: inline-block;
      color: #D7DADA;
      background: #4e6d29;
      font-weight: bold;
      font-size: 1.8em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamnav input:checked ~ #hamitems { display: block; }
    #hamitems { display: none; }
    #hamitems ul li:hover>ul{
      display: none;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;}
  }
