.nav {
background-color: #78AB3B;
color: #d7dada;
list-style:none;
text-align:center;
padding: 200px;
}
.nav > li {
    display:inline-block;
    padding-right: 200px;
}
.nav > li > a {
    text-decoration: none;
    color: #d7dada;
}