.heading {color: #78ab3b;}
.paragraph::first-letter {font-size: 150%;}
.subparagraph {text-indent: 2em;}
body {
    border: none;
    margin: 2px;
}

main {
    display: grid;
    grid-template: 50px / 700px;
    grid-gap: 15px 20px;
}

@media screen and (max-width:480px){
    main {
        display: grid;
        grid-template: 20px / 400px;
        grid-gap: 10px 15px;}
    .responsive-iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;}
}


@media screen and (max-width:800px){
    main{
        display: grid; 
        grid-template: 40px / 600px;
        grid-gap: 15px 20px;}
    .responsive-iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;}
}