.heading {color: #78ab3b;}
.paragraph::first-letter {font-size: 150%;}
.subparagraph {text-indent: 2em;}
body {
    border: none;
    margin: 2px;
}

main {
    display: grid;
    grid-template: 50px / 700px;
    grid-gap: 15px 20px;
}

@media screen and (max-width:600px){
    main {
        display: grid;
        grid-template: 20px / 200px;
        grid-gap: 10px 15px;
        font-size: 40px;}
}


@media screen and (max-width:800px){
    main{
        display: grid; 
        grid-template: 40px / 600px;
        grid-gap: 15px 20px;}
}